<div class="unselectable d-flex h-100 flex-column d-flex p-3 bg-light" style="width: 280px; height: 100%; min-height: 100vh;">
    <a href="/dashboard" class="align-items-center mb-1 md-0 link-dark text-decoration-none text-center">
      <img src="{{url_for('static', filename='images/logo.png')}}" draggable="false" class="mx-auto" style="width: 100px; height: 100px;">
      <p class="text-center fs-2 mb-0">Timendix</p>
      <p class="text-center mb-0">Dashboard</p>
    </a>
    <hr>
    <div class="list-group flex-column mb-auto">
      <a href="/dashboard" class="list-group-item list-group-item-action {% if dashboard_selected %}active{% endif %}">
        <p>
          <img src="{{url_for('static', filename='icons/layout-dashboard.svg')}}" draggable="false" class="w-20 h-20 mx-auto">
          {{ translations['sidebar']['btn_dashboard'] }}
        </p>
      </a>
      <a href="/dashboard/teachers" class="list-group-item list-group-item-action {% if teachers_selected %}active{% endif %}">
        <p>
          <img src="{{url_for('static', filename='icons/users.svg')}}" draggable="false" class="w-20 h-20 mx-auto">
          {{ translations['sidebar']['btn_teachers'] }}
        </p>
      </a>
      <a href="/dashboard/classes" class="list-group-item list-group-item-action {% if classes_selected %}active{% endif %}">
        <p>
          <img src="{{url_for('static', filename='icons/chalkboard.svg')}}" draggable="false" class="w-20 h-20 mx-auto">
          {{ translations['sidebar']['btn_classes'] }}
        </p>
      </a>
      <a href="/dashboard/logs" class="list-group-item list-group-item-action {% if logs_selected %}active{% endif %}">
        <p>
          <img src="{{url_for('static', filename='icons/article.svg')}}" draggable="false" class="w-20 h-20 mx-auto">
          {{ translations['sidebar']['btn_logs'] }}
        </p>
      </a>
      <a href="/dashboard/settings" class="list-group-item list-group-item-action {% if settings_selected %}active{% endif %}">
        <p>
          <img src="{{url_for('static', filename='icons/settings.svg')}}" draggable="false" class="w-20 h-20 mx-auto">
          {{ translations['sidebar']['btn_settings'] }}
        </p>
      </a>
    </div>
    
    <hr>
    <a class="btn btn-outline-primary" href="/logout">{{ translations['sidebar']['btn_logout'] }}</a>
  </div>